body{
    font-family: 'Open Sans', sans-serif;
}
strong{
    font-weight: 700px;
}
.BOLD{
    font-weight: 700;
}
.DisplayFlex{
    display: flex;
}
.container{
    width: 1100px;
    margin: 0 auto;
}
.footer{
    display: flex;
    justify-content: space-between;
    
}
.Gray{
    color: #718096;
}

/* Шапка */
.hat{
    display: flex;
    justify-content: space-between;
    padding: 36px 0px;
}
.hat nav{
    display: flex;
}
nav div{
    margin: 0px 10px;
}
.search{
    display: flex;
}
.search div{
    margin: 0px 10px;
}
.search form input{
    border-style: hidden;
}
/* Шапка */

/* Блок1 */
.makeBetterBackground{
    background: #FBFBFB;
}
.CoffeeContent{
    display: flex;
    flex-wrap: wrap;
    max-width: 346px;
    font-size: 60px;
    font-weight: 700px;
    margin-left:20px;
    position: relative;
    padding: 20px 0px;
}
.CoffeeContent h2{
    font-size: 30px;
    color:#4A5568;
    font-weight: 400;
    padding-top: 10px;
    
}
.CoffeeContent::after{
    content: url(/img/coffee.png);
    position: absolute;
    left: 10px;
    left: 167px;
    top: 55px;
}
.makeBetterContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Блок1 */

/* Блок2 */
.cardContainer{
    padding: 40px;
}
.secBlockContainer{
    display: flex;
    margin:40px 0px;
}
.cardContainer{
    border: 1px solid #E2E2E2;
}

.cardTitle{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 27px;
}
.inCardContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
}
/* Блок2 */

/* Блок3 */
.thBlockContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.thBlockContainer .cardContent{
    box-shadow:0px 2px 0px 1px #E2E2E2;
    padding: 17px;
}
.thBlockContainer .Card{
    max-width: 297px;
}
.thBlockContainer .Card img{
    max-width: 297px;
}
.cardContent .cardTitle{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
}
.cardContent .cardDesk{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}
.cardContent .cardFooter{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
/* Блок3 */

/* Блок4 */
.BigCardContainer{
    display: flex;
    
}
.BigCardText{
    padding: 66px;
    width: 100%;
}
.BigCardTextWidthControl{
    max-width: 440px;
}
.BigCardText div{
    padding: 25px 0px;
}
.BigCardText .bigCardFooter{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.BigCardText .bigCardTitle{
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    
}

.BigCardText .bigCardDesk{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    
}
/* Блок4 */

/* Блок5 */
.footerContainer{
    border: 1px solid #E8E8E8;
}
.footer{
    padding: 20px 0px;
}
.social{
    display: flex;
}
.social div{
    margin-left: 30px;
}
.inFooterContainer{
    display: flex;
}
/* Блок5 */

/* Медиа-запросы */
@media screen and (max-width: 1120px){
    .container{
        width: 600px;
    }
    .secBlockContainer{
        display: flex;
        margin: 40px 0px;
        flex-direction: column-reverse;
    }
    .CoffeeContent{
        font-size: 30px;
    }
    .secBlockContainer img{
        width: 100%;
    }
    .thBlockContainer{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .CoffeeContent::after {
        left: 50px;
        top: 87px;
    }
    .BigCardContainer{
        flex-direction: column-reverse;
    }
    .BigCardContainer img{
        width: 100%;
    }
}
@media screen and (max-width: 980px){
    .container{
        width: 500px;
    }
    .makeBetterContent{
        flex-direction: column-reverse;
    }
    .CoffeeContent::after{
        left: 306px;
        top: 0px;
        right: 29px;
    }
    .search{
        display: none;
    }
    .hat{
        max-width: 499px;
    }
    .thBlockContainer .Card{
        margin-top: 20px;
    }
    .BigCardText{
        padding: 0px;
    }
}

@media screen and (max-width: 760px){
    .container{
        width: 300px;
    }
    .BigCardText{
        padding: 0px;
    }
    .makeBetterContent img{
        max-width: 300px;
    }
    .CoffeeContent::after{
        left: 67px;
        top: 68px;
        right: 29px;
    }
    .inFooterContainer{
        display: block;
    }
    .hat{
        max-width: 499px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}